{% extends 'index.html' %}

{% block content %}
<br><br>

 <div class="container mt-5">  
   
    <div class="row justify-content-md-center">

    <div class="col-md-5">   
    <div class="card card-body">
     <h5 class="text-center">Update Order</h5>
     </div><!--card card-body-->
    <div class="card card-body">
    <form action="" method="POST">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" class="btn btn-primary form-control">Save</button>
    </form>
     </div><!--card card-body-->
    </div> <!--col-md-->

    
    </div><!--row-->
  </div>

{% endblock  %}